/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* Navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    background-color: #222;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
  
  .logo {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1em;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    justify-content: end;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #ffd700;
  }
  .js{
    margin-left: 12em;
    margin-top: 2em;
    display: flex;
    .lan{
        margin-left: 7em;
    }
    .bas{
        margin-left: 9.5em;
        
    }
  }